<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-About" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-TIL" role="menuitem"><a href="{{site.baseurl}}tag/TIL/">TIL</a></li>
    <li class="nav-Java" role="menuitem"><a href="{{site.baseurl}}tag/Java/">Java</a></li>
    <li class="nav-Project" role="menuitem"><a href="{{site.baseurl}}tag/Project/">Project</a></li>
    <li class="nav-Web" role="menuitem"><a href="{{site.baseurl}}tag/Web/">Web</a></li>
    <li class="nav-알고리즘" role="menuitem"><a href="{{site.baseurl}}tag/알고리즘/">알고리즘</a></li>
    <li class="nav-Plan" role="menuitem"><a href="{{site.baseurl}}tag/Plan/">Plan</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>